<div class="vlt-register-creds">

    <div class="row bottom-15">
        <div class="col-md-8 col-md-offset-2">
            <h4>Please submit yout credentials</h4>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in diam eu.
                nisl accumsan condimentum. Duis rhoncus enim a urna aliquet fringilla.
            </p>
        </div>
    </div>

    <div class="vlt-section">
        <form class="form-horizontal" role="form">
            <div class="form-group" {{bind-attr class='errors.email:has-error'}}>
                <label for="register-form-email" class="col-lg-4 control-label">Email *</label>

                <div class="col-lg-4">
                    {{ view Ember.TextField elementId='register-form-email' valueBinding='content.email' class="form-control" placeholder="Please enter valid email address"}}
                    <span class="error">
                        {{errors.email}}
                    </span>
                </div>
            </div>

            <div class="form-group" {{bind-attr class='errors.nickname:has-error'}}>
                <label for="register-form-nickname" class="col-lg-4 control-label">Your nickname *</label>

                <div class="col-lg-4">
                    {{ view Ember.TextField elementId='register-form-nickname' valueBinding='content.nickname' class="form-control" placeholder="Please enter your nickname"}}
                    <span class="error">
                        {{errors.nickname}}
                    </span>
                </div>
            </div>

            <br/>

        </form>
    </div>


</div>
