<div class="row">
    <div class="col-md-12">

        <div class="modal-dialog vlt-tabs-modal vlt-register">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Register to Vaultier</h2>

                    <ul class="nav nav-pills nav-justified vlt-wizard-steps">
                        {{#view view.TabView tab="AuthRegister.before" }}
                            <a>
                                Before you register
                                <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            </a>
                        {{/view}}

                        {{#view view.TabView tab="AuthRegister.keys" }}
                            <a>
                                Generate your keys
                                <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            </a>
                        {{/view}}


                        {{#view view.TabView tab="AuthRegister.creds" }}
                            <a>
                                Your credentials
                                <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            </a>
                        {{/view}}

                        {{#view view.TabView tab="AuthRegister.sum" }}
                            <a>
                                Finish registration
                                <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            </a>
                        {{/view}}

                    </ul>
                </div>
                <div class="modal-body">

                    <div class="tab-content">
                        <div class="tab-pane active">

                            <div class="row">
                                {{outlet AuthRegister}}
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    {{#unless props.loginButtonHidden}}
                        Do you have account already? {{#link-to 'AuthLogin' class="btn btn-default btn-sm" }}Login to
                        your
                        account here{{/link-to}}
                    {{/unless}}
                    <button {{action next}} {{bind-attr disabled=props.nextButtonDisabled}} class="btn btn-primary">
                        <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                        {{#if props.nextButtonTitle }}
                            {{ props.nextButtonTitle }}
                        {{else}}
                            Next
                        {{/if}}
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>



