<div class="row">
    <div class="col-md-12">

        <div class="vlt-dialog vlt-dialog-window vlt-register">
            <div class="vlt-dialog-content">
                <div class="vlt-dialog-header">
                    <h2>Register to Vaultier</h2>

                    <ul class="nav nav-pills nav-justified vlt-wizard-steps">
                        {{#view view.TabView tab="before" }}
                            <a>
                                Before you register
                                <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            </a>
                        {{/view}}

                        {{#view view.TabView tab="keys" }}
                            <a>
                                Generate your keys
                                <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            </a>
                        {{/view}}


                        {{#view view.TabView tab="creds" }}
                            <a>
                                Your credentials
                                <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            </a>
                        {{/view}}

                        {{#view view.TabView tab="sum" }}
                            <a>
                                Finish registration
                                <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            </a>
                        {{/view}}

                    </ul>
                </div>

                <div class="vlt-dialog-body">
                    {{outlet AuthRegister}}
                </div>

                <div class="vlt-dialog-footer">
                    {{#unless props.loginButtonHidden}}
                        Do you have account already? {{#link-to 'AuthLogin' class="btn btn-default btn-sm" }}Login to
                        your
                        account here{{/link-to}}
                    {{/unless}}
                    <button {{action next}} {{bind-attr disabled=props.nextButtonDisabled}} class="btn btn-primary">
                        <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                        {{#if props.nextButtonTitle }}
                            {{ props.nextButtonTitle }}
                        {{else}}
                            Next
                        {{/if}}
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>



