<div class="vlt-secret-item-base vlt-secret-item-file">
    <div class="vlt-left-panel vlt-background-{{unbound view.controller.parentController.vault.color}}">
        <div class="vlt-wrapper">
            <div class="vlt-icon"></div>
            <div class="vlt-type">
                File
            </div>
        </div>
    </div>
    <div class="vlt-right-panel">
        <h3 class="top-0">{{name}}</h3>

        {{#if decrypted}}
            <div class="vlt-attrs">
                <table class="table table-bordered">
                    <colgroup>
                        <col class="col-lg-1">
                        <col class="col-lg-7">
                    </colgroup>
                    <tbody>
                    {{#if url}}
                        <tr>
                            <td class="vlt-attr-name">
                                URL
                            </td>
                            <td>{{url}}</td>
                        </tr>
                    {{/if}}

                    {{#if username}}
                        <tr>
                            <td class="vlt-attr-name">
                                Username
                            </td>
                            <td>{{username}}</td>
                        </tr>
                    {{/if}}

                    {{#if password}}
                        <tr>
                            <td class="vlt-attr-name">
                                Password
                            </td>
                            <td>{{password}}</td>
                        </tr>
                    {{/if}}

                    {{#if filename}}
                        <tr>
                            <td class="vlt-attr-name">
                                File Name
                            </td>
                            <td>
                                {{filename}}
                                <a {{action downloadBlob content}} class="btn btn-default btn-sm pull-right">
                                    <span class="glyphicon glyphicon-save"></span>
                                    Save to computer
                                </a>
                            </td>
                        </tr>
                    {{/if}}

                    {{#if filesize}}
                        <tr>
                            <td class="vlt-attr-name">
                                File Size
                            </td>
                            <td>{{humanFilesize filesize}}</td>
                        </tr>
                    {{/if}}

                    {{#if __hidden__filetype}}
                        <tr>
                            <td class="vlt-attr-name">
                                MIME type
                            </td>
                            <td>{{filetype}}</td>
                        </tr>
                    {{/if}}

                    {{#if note}}
                        <tr>
                            <td class="vlt-attr-name">
                                Note
                            </td>
                            <td>
                                <div class="vlt-markdown">
                                    {{renderMarkdown note }}
                                </div>
                            </td>
                        </tr>
                    {{/if}}

                    </tbody>
                </table>
            </div>
            {{view Vaultier.SecretIndexItemControlsView class='vlt-secret-item-controls' }}
        {{else}}
            <div class="alert alert-warning top-15">
                Encrypted data cannot be decrypted
            </div>
        {{/if}}

    </div>
</div>