<div class="container">
    <div class="vlt-page vlt-page-plain">
        <div class="vlt-dialog col-md-8 col-md-offset-2 top-50">
            <form>
                <div class="vlt-dialog-content">
                    <div class="vlt-dialog-header">
                        <h2>Edit Secret</h2>
                    </div>
                    <div class="vlt-dialog-body">

                        {{#if isNote}}
                            {{view Vaultier.SecretTypeNoteView}}
                        {{/if}}

                        {{#if isPassword}}
                            {{view Vaultier.SecretTypePasswordView}}
                        {{/if}}

                        {{#if isFile}}
                            {{view Vaultier.SecretTypeFileView}}
                        {{/if}}

                    </div>
                    <div class="vlt-dialog-footer">
                        <a href="javascript:window.history.go(-1)" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            Back
                        </a>
                        <button {{ action save}} {{bind-attr disabled=saveDisabled }} class="btn btn-primary">
                            <span class="glyphicon glyphicon-ok"></span>
                            Save changes
                        </button>
                    </div>

                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


