<div class="container-full">
    <div class="vlt-page vlt-page-with-sidebar">
        <div class="vlt-page-content">
            <div class="col-md-12">

                <div class="vlt-page-content-responsive-header">
                    <div class="row-fluid">
                        <div class="col-xs-12 text-center">
                            <h2>Workspace: {{workspace.name}} </h2>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="top-50">
                    <div class="jumbotron vlt-bigbox vlt-no-keys">
                        <div class="vlt-header">
                            <div class="vlt-icon">

                            </div>
                            <div class="vlt-title">
                                <h1>You do not have keys to workspace yet </h1>
                            </div>
                        </div>
                        <p>
                            Please wait till keys will be automatically transfered to you
                            when somebody of team goes online. You will get email once keys received.
                            <br/>
                            <br/>
                            Keys are used to encrypt and decrypt workspace data

                        </p>
                    </div>

                </div>

            </div>
        </div>

        <div class="vlt-page-sidebar">
            <div class="vlt-sidebar-block">
                <div class="vlt-sidebar-block-heading">
                    <div class="vlt-header">
                        <img src="/static/vaultier/images/icon-workspace-grey.png" class="vlt-icon">

                        <h3 class="vlt-title">
                            {{workspace.name}}
                        </h3>
                    </div>
                    <div class="vlt-body">
                        {{#if workspace.description}}
                            {{workspace.description}}
                        {{else}}
                            No description given
                        {{/if}}
                    </div>
                </div>

                <div class="vlt-sidebar-block-sharing">
                    <div class="vlt-header">
                        <img src="/static/vaultier/images/icon-team-grey.png" class="vlt-icon">

                        <h3 class="vlt-title">
                            Sharing with
                        </h3>
                    </div>
                    <div class="vlt-body">
                         {{member-box roles=memberships user=auth.user}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

