{{#if breadcrumbs }}
    <div class="vlt-breads">
        <div class="container">
            <ol class="breadcrumb">
                {{#each breadcrumbs.items }}
                    {{#if last}}
                        <li class="active">
                            {{#if icon}}
                                <img class="vlt-icon" {{bind-attr src=icon}}>
                            {{/if}}
                            <h2>
                                {{ title }}
                            </h2>
                        </li>
                    {{else}}
                        <li>
                            <a {{bind-attr href=link}}>
                                {{#if icon}}
                                    <img class="vlt-icon" {{bind-attr src=icon}}>
                                {{/if}}
                                {{ title }}
                            </a>
                        </li>
                    {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>
{{/if}}