<div class="col-md-10 col-md-offset-1">

    <h4>Title</h4>
    <hr class="top-0"/>

    <div class="form-group" {{bind-attr class='errors.name:has-error'}}>
        {{view Em.TextField elementId='secret-name' valueBinding='content.name' class="form-control"}}
        <span class="error">{{errors.name}}</span>
    </div>
    <div class="help-block">
        Informational field. Do not enter any sensitive information. This field is not cyphered
    </div>

    <h4 class="top-30">Please fillout data for your password secret</h4>
    <hr class="top-0"/>

    <div class="form-group" {{bind-attr class='errors.url:has-error'}}>
        <label for="secret-url">URL</label>
        {{errors.url}}
        {{view Em.TextField elementId='secret-url' valueBinding='content.url' class="form-control"}}
    </div>

    <div class="form-group" {{bind-attr class='errors.username:has-error'}}>
        <label for="secret-username">Username</label>
        {{errors.username}}
        {{view Em.TextField elementId='secret-username' valueBinding='content.username' class="form-control"}}
    </div>

    <div class="form-group" {{bind-attr class='errors.password:has-error'}}>
        <label for="secret-password">Password</label>
        {{errors.password}}
        {{view Em.TextField elementId='secret-password' valueBinding='content.password' class="form-control"}}
    </div>

    <div class="form-group" {{bind-attr class='errors.note:has-error'}}>
        <label for="secret-note">Note</label>
        {{errors.note}}
        {{view Em.TextArea elementId='secret-note' valueBinding='content.note' class="form-control" rows=5}}
    </div>
    <div class="help-block">
        Markdown is available. Markdown manual <a
            href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"
            target="_blank">
        here
    </a>
    </div>
</div>

<div class="clearfix"></div>