<div class="container-full">
    <div class="vlt-page vlt-page-with-sidebar">

        <div class="vlt-page-content">
            <div class="col-md-12">

                <div class="vlt-page-content-responsive-header">
                    <div class="row-fluid">
                        <div class="col-xs-3">
                            {{#exp  "( card.perms.update || card.perms.delete || card.perms.create || card.perms.invite )"}}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-cog"></span>
                                        Manage
                                    </button>
                                    <ul class="dropdown-menu caret-left">
                                        {{#if card.perms.update}}

                                            <li>
                                                {{#link-to "Card.edit" card.slug}}
                                                    Edit card
                                                {{/link-to}}
                                            </li>

                                            <li>
                                                {{#link-to "Card.move" card.slug}}
                                                    Move card to another vault
                                                {{/link-to}}
                                            </li>

                                            <li>
                                                <a href="#" {{action deleteCard card }} >Delete card</a>
                                            </li>
                                        {{/if}}

                                        {{#if card.perms.invite}}
                                            <li>
                                                {{#link-to "Card.memberIndex" card}}
                                                    Share
                                                {{/link-to}}
                                            </li>
                                        {{/if}}

                                        {{#if card.perms.create}}
                                            <li>
                                                {{#link-to "Secret.createSelect" }}
                                                    Add secret
                                                {{/link-to}}
                                            </li>
                                        {{/if}}
                                    </ul>
                                </div>
                            {{/exp}}
                        </div>

                        <div class="col-xs-9">
                            <h2>Card: {{card.name}} </h2>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="top-30 vlt-items">
                    {{#if length}}
                    <div class="vlt-secret-box">
                        <div class="vlt-visual">
                            <div class="vlt-visual-bg"></div>
                        </div>
                        {{#each}}
                            {{#if isNote }}
                                {{view Vaultier.SecretIndexItemNoteView class="vlt-secret-item vlt-note"}}
                            {{/if}}

                            {{#if isPassword  }}
                                {{view Vaultier.SecretIndexItemPasswordView class="vlt-secret-item vlt-password"}}
                            {{/if}}

                            {{#if isFile  }}
                                {{view Vaultier.SecretIndexItemFileView class="vlt-secret-item vlt-file"}}
                            {{/if}}
                        {{/each}}
                    </div>

                    {{else}}
                            <div class="jumbotron vlt-bigbox vlt-secret">
                                <div class="vlt-header">
                                    <div class="vlt-icon">
                                    </div>
                                    <div class="vlt-title">
                                        <h1>You do not have any secret yet</h1>
                                    </div>
                                </div>

                                {{#if card.perms.create }}
                                    <p>
                                        This card is empty.
                                        Please create one or more secrets on this card.
                                        Secret are secured by encryption and accessible only to you and your team.
                                        Secret could be password, note, credit card number or key file
                                    </p>

                                    <p class="top-30">
                                        {{#link-to "Secret.createSelect" class="btn btn-lg btn-primary" }}
                                            <span class="glyphicon glyphicon-plus"></span>
                                            Add secret
                                        {{/link-to}}
                                    </p>
                                {{/if}}
                            </div>
                    {{/if}}
                </div>
             </div>
        </div>

        <div class="vlt-page-sidebar">
            <div class="vlt-sidebar-block">
                <div class="vlt-sidebar-block-heading">
                    <div class="vlt-header">
                        <img src="/static/vaultier/images/icon-vault-grey.png" class="vlt-icon">

                        <h3 class="vlt-title">
                            {{card.name}}
                        </h3>
                    </div>
                    <div class="vlt-body">
                        {{#if card.description}}
                            {{card.description}}
                        {{else}}
                            No description given
                        {{/if}}
                    </div>
                    <div class="vlt-controls">
                        <div>

                            {{#if card.perms.create}}
                                <div
                                        class="vlt-button-wrapper"
                                        data-toggle="tooltip"
                                        title=
                                                "
                                                 Create one or more secrets on this card.
                                                 Secrets are secured by encryption and accessible only to you and your team.
                                                 Secret could be password, note, credit card number or key file
                                                 "
                                        data-placement="bottom"
                                        >
                                    {{#link-to "Secret.createSelect" class="btn btn-primary"}}
                                        <span class="glyphicon glyphicon-plus"></span>
                                        Add secret
                                    {{/link-to}}
                                </div>
                            {{/if}}

                            {{#exp  "( card.perms.update || card.perms.delete)"}}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-cog"></span>
                                        Properties
                                    </button>
                                    <ul class="dropdown-menu caret-left">
                                        {{#if card.perms.update}}

                                            <li>
                                                {{#link-to "Card.edit" card.slug}}
                                                    Edit card
                                                {{/link-to}}
                                            </li>

                                            <li>
                                                {{#link-to "Card.move" card.slug}}
                                                    Move card to another vault
                                                {{/link-to}}
                                            </li>

                                        {{/if}}
                                        {{#if card.perms.update}}

                                            <li>
                                                <a href="#" {{action deleteCard card }} >Delete card</a>
                                            </li>
                                        {{/if}}
                                    </ul>
                                </div>
                            {{/exp}}

                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="vlt-sidebar-block-sharing">
                    <div class="vlt-header">
                        <img src="/static/vaultier/images/icon-team-grey.png" class="vlt-icon">

                        <h3 class="vlt-title">
                            Sharing with
                        </h3>
                    </div>
                    <div class="vlt-body">
                        {{member-box roles=memberships user=auth.user object=card}}
                    </div>
                    <div class="vlt-controls">
                        <div>
                            {{#if card.perms.invite}}
                                <div
                                        class="vlt-button-wrapper"
                                        data-toggle="tooltip"
                                        title=
                                                "
                                     Invite new team members to collaborate over this card
                                     or  grant access permission to current team members
                                     "
                                        data-placement="bottom"
                                        >
                                    {{#link-to "Card.memberInvite" card class="btn btn-default"}}
                                        <span class="glyphicon glyphicon-plus"></span>
                                        Invite
                                    {{/link-to}}
                                </div>
                            {{/if}}

                            {{#if card.perms.invite}}
                                <div
                                        class="vlt-button-wrapper"
                                        data-toggle="tooltip"
                                        title=
                                                "
                                     Invite new team members to collaborate over this card
                                     or  grant access permission to current team members
                                     "
                                        data-placement="bottom"
                                        >
                                    {{#link-to "Card.memberIndex" card class="btn btn-default"}}
                                        <span class="glyphicon glyphicon-user"></span>
                                        Team
                                    {{/link-to}}
                                </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


