<div class="vlt-page-nav">

<div class="vlt-page-toolbar pull-right">
    <div>

        <a href="#" class="btn btn-default btn-sm" data-toggle="tooltip" title="first tooltip">
            <span class="glyphicon glyphicon-chevron-left"></span>
            Back
        </a>

        <a href="#" class="btn btn-default" data-toggle="tooltip" title="first tooltip">
            <span class="glyphicon glyphicon-question-sign"></span>
            Permissions
        </a>

        <a href="#" class="btn btn-primary" data-toggle="tooltip" title="first tooltip">
            <span class="glyphicon glyphicon-user"></span>
            Invite
        </a>

    </div>
</div>

<div class="pull-left">
    <h2>Collaborators</h2>
</div>

<div class="clearfix"></div>

    {{#each block in blocks }}



        {{#ifIndex is=2}}
        Inherited memberships
        {{/ifIndex}}

    <div class="panel panel-default vlt-panel-permissions top-30">
        <div class="panel-heading">
            <div class="col-md-8">
                <h4>
                    {{block.roles.length}} collaborators at {{block.type}} <b>{{block.object.name}}</b>
                </h4>
            </div>
            <div class="clearfix"></div>
        </div>
        <table class="table vlt-table">
            {{#each role in block.roles }}
                <tr>
                    <td class="col-md-4 vlt-user">
                        {{printUser role.member size=50}}
                    </td>
                    <td class="col-md-4">
                    </td>
                    <td class="col-md-4 vlt-actions">
                        <div class="input-group">
                            <select class="form-control vlt-perms">
                                <option>Read</option>
                                <option>Read and create</option>
                                <option>Manage</option>
                            </select>

                            <a class="btn btn-default btn-sm input-group-btn">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            {{/each}}
        </table>


    </div>

    {{/each}}



<div class="panel panel-default vlt-panel-permissions top-30">
    <div class="panel-heading">
        <div class="col-md-8">
            <h4>
                {{workspaces.length}} collaborators of secret <b>name</b>
            </h4>
        </div>
        <div class="clearfix"></div>
    </div>
    <table class="table vlt-table">
        <tbody>
        <tr>
            <td class="col-md-4 vlt-user">
                {{gravatarImg 'jan.misek@rclick.cz' size=50 class="vlt-avatar"}}
                <b>Jan Míšek</b><br/>
                    <span class="help-block">
                        jan.misek@rclick.cz
                    </span>
            </td>
            <td class="col-md-4">
            </td>
            <td class="col-md-4 vlt-actions">
                <div class="input-group">
                    <select class="form-control vlt-perms">
                        <option>Read</option>
                        <option>Read and create</option>
                        <option>Manage</option>
                    </select>

                    <a class="btn btn-default btn-sm input-group-btn">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td class="col-md-4 vlt-user">
                {{gravatarImg 'tomas.plesek@rclick.cz' size=50 class="vlt-avatar"}}
                <b>Jan Míšek</b><br/>
                    <span class="help-block">
                        jan.misek@rclick.cz
                    </span>
            </td>
            <td class="col-md-4">
            </td>
            <td class="col-md-4 vlt-actions">
                <div class="input-group">
                    <select class="form-control vlt-perms">
                        <option>Read</option>
                        <option>Read and create</option>
                        <option>Manage</option>
                    </select>

                    <a class="btn btn-default btn-sm input-group-btn">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td class="col-md-4 vlt-user">
                {{gravatarImg 'jakub.bokoc@rclick.cz' size=50 class="vlt-avatar"}}
                <b>Jan Míšek</b><br/>
                    <span class="help-block">
                        jan.misek@rclick.cz
                    </span>
            </td>
            <td class="col-md-4">
            </td>
            <td class="col-md-4 vlt-actions">
                <div class="input-group">
                    <select class="form-control vlt-perms">
                        <option>Read</option>
                        <option>Read and create</option>
                        <option>Manage</option>
                    </select>

                    <a class="btn btn-default btn-sm input-group-btn">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </td>
        </tr>

        <tr class="warning">
            <td class="col-md-4 vlt-user">
                {{gravatarImg 'jakub.bokoc@rclick.cz' size=50 class="vlt-avatar"}}
                <b>jan.misek@rclick.cz</b><br/>

            </td>
            <td class="col-md-4">
                <div class="label label-warning">
                    Invited only. Did not show up yet!
                </div>
            </td>
            <td class="col-md-4 vlt-actions">
                <div class="input-group">
                    <select class="form-control vlt-perms">
                        <option>Read</option>
                        <option>Read and create</option>
                        <option>Manage</option>
                    </select>

                    <a class="btn btn-default btn-sm input-group-btn">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </td>
        </tr>

        <tr class="warning">
            <td class="col-md-4 vlt-user">
                {{gravatarImg 'jakub.bokoc@rclick.cz' size=50 class="vlt-avatar"}}
                <b>Jan Míšek</b><br/>
                <span class="help-block">
                    jan.misek@rclick.cz
                </span>
            </td>
            <td class="col-md-4 vlt-labels">
                <div class="label label-default">
                    <div class="col-md-6">
                        Accepted invitation. Please approve his access.
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-success">
                            <span class="glyphicon glyphicon-ok"></span>
                            Approve access
                        </a>
                    </div>
                </div>
            </td>
            <td class="col-md-4 vlt-actions">
                <div class="input-group">
                    <select class="form-control vlt-perms">
                        <option>Read</option>
                        <option>Read and create</option>
                        <option>Manage</option>
                    </select>

                    <a class="btn btn-default btn-sm input-group-btn">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </td>
        </tr>


        </tbody>
    </table>
</div>

<h2>Inherited memberships</h2>

    {{#times 3}}

    <div class="panel panel-default vlt-panel-permissions top-30">
        <div class="panel-heading">
            <div class="col-md-8">
                <h4>
                    5 collaborators of vault <b>name</b>
                </h4>
            </div>
            <div class="col-md-4 vlt-controls">
                <a class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
            </div>

            <div class="clearfix"></div>
        </div>
        <table class="table vlt-table">
            <tbody>
            <tr>
                <td class="col-md-4 vlt-user">
                    {{gravatarImg 'jan.misek@rclick.cz' size=50 class="vlt-avatar"}}
                    <b>Jan Míšek</b><br/>
                        <span class="help-block">
                            jan.misek@rclick.cz
                        </span>
                </td>
                <td class="col-md-4">
                </td>
                <td class="col-md-4 vlt-actions">
                    <span class="label label-default">
                        Read
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4 vlt-user">
                    {{gravatarImg 'tomas.plesek@rclick.cz' size=50 class="vlt-avatar"}}
                    <b>Jan Míšek</b><br/>
                    <span class="help-block">
                        jan.misek@rclick.cz
                    </span>
                </td>
                <td class="col-md-4">
                </td>
                <td class="vlt-actions">
                    <span class="label label-default">
                        Read and create
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4 vlt-user">
                    {{gravatarImg 'jakub.bokoc@rclick.cz' size=50 class="vlt-avatar"}}
                    <b>Jan Míšek</b><br/>
                    <span class="help-block">
                        jan.misek@rclick.cz
                    </span>
                </td>
                <td class="col-md-4">
                </td>
                <td class="col-md-4 vlt-actions">
                    <span class="label label-default">
                        Manage
                    </span>
                </td>
            </tr>
            </tbody>
        </table>


    </div>


    <div class="clearfix"></div>

    {{/times}}
</div>