<div class="vlt-wrapper">
    <div class="vlt-visual">
        <div class="vlt-icon">
        </div>
        <div class="vlt-type">
            Password
        </div>
    </div>
    <div class="vlt-inner">
        {{#if name}}
            <h3 class="top-0">{{name}}</h3>
        {{/if}}

        {{#if decoded}}
            <div class="vlt-attrs">
                <table class="table table-bordered">
                    <colgroup>
                        <col class="col-lg-1">
                        <col class="col-lg-7">
                    </colgroup>
                    <tbody>
                    {{#if url}}
                        <tr>
                            <td class="vlt-attr-name">
                                URL
                            </td>
                            <td><a {{bind-attr href=url}} target="_blank">{{url}}</a></td>
                        </tr>
                    {{/if}}

                    {{#if username}}
                        <tr>
                            <td class="vlt-attr-name">
                                Username
                            </td>
                            <td>{{username}}</td>
                        </tr>
                    {{/if}}

                    {{#if password}}
                        <tr>
                            <td class="vlt-attr-name">
                                Password
                            </td>
                            <td>{{password}}</td>
                        </tr>
                    {{/if}}

                    {{#if note}}
                        <tr>
                            <td class="vlt-attr-name">
                                Note
                            </td>
                            <td>
                                <div class="vlt-markdown">
                                    {{renderMarkdown note }}
                                </div>
                            </td>
                        </tr>
                    {{/if}}

                    </tbody>
                </table>
            </div>
        {{else}}
            <div class="alert alert-warning top-15">
                Cyphered data cannot be decoded
            </div>
        {{/if}}


        {{view Vaultier.SecretIndexItemControlsView }}

    </div>
</div>