<div class="vlt-page-nav">

    <div class="vlt-page-toolbar pull-right">
        <div>

            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog"></span>
                </button>
                <ul class="dropdown-menu caret-left">

                    <li>
                        {{#link-to "Card.edit" card}}
                            Edit card
                        {{/link-to}}
                    </li>
                    <li><a href="#" {{action deleteCard card }} >Delete card</a></li>
                </ul>
            </div>

            <a href="#" class="btn btn-default">
                <span class="glyphicon glyphicon-user"></span>
                Collaborate
            </a>

            {{#if length}}

                {{#link-to "Secret.createSelect" class="btn btn-primary"}}
                    <span class="glyphicon glyphicon-plus"></span>
                    Create new secret
                {{/link-to}}
            {{/if}}

        </div>
    </div>
    <div class="pull-left">
        <h2>{{card.name}}</h2>
    </div>


    <div class="clearfix"></div>

</div>

<div class="row">
    <div class="col-md-12">

        <div class="vlt-card-detail">
            {{#if length}}
                {{#each}}
                    {{#if isNote }}
                        {{view Vaultier.SecretIndexItemNoteView class="vlt-secret vlt-note"}}
                    {{/if}}

                    {{#if isPassword  }}
                        {{view Vaultier.SecretIndexItemPasswordView class="vlt-secret vlt-password"}}
                    {{/if}}

                    {{#if isFile  }}
                        {{view Vaultier.SecretIndexItemFileView class="vlt-secret vlt-file"}}
                    {{/if}}
                {{/each}}

            {{else}}
                <div class="jumbotron col-md-8 col-md-offset-2">
                    <h1>You do not have any secrets yet</h1>

                    <p>
                        What are secrets for? This example is a quick exercise to illustrate how the default, static
                        includes the responsive CSS and HTML, so it also adapts to your viewport and device.
                    </p>

                    <p class="top-30">
                        {{#link-to "Secret.createSelect" class="btn btn-lg btn-primary" }}
                            <span class="glyphicon glyphicon-plus"></span>
                            Create new secret
                        {{/link-to}}
                    </p>
                </div>
            {{/if}}

        </div>

    </div>
</div>

