<div class="col-md-10 col-md-offset-1">

    <h4>Title</h4>
    <hr class="top-0"/>

    <div class="form-group" {{bindAttr class='errors.name:has-error'}}>
        {{view Em.TextField elementId='secret-name' valueBinding='content.name' class="form-control"}}
        <span class="error">{{errors.name}}</span>
    </div>
    <div class="help-block">
        Informational field. Do not enter any sensitive information. This field is not cyphered
    </div>


    <h4 class="top-30">Please fillout your note</h4>
    <hr class="top-0"/>

    <div class="form-group">
        {{errors.description}}
        {{view Vaultier.EpicEditorInput elementId='card-description' valueBinding='content.note' class="form-control" rows=8}}
        <div class="help-block">
            Markdown is available. Markdown manual <a
                href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">here</a>
        </div>
    </div>
</div>

<div class="clearfix"></div>

