<div>
    <div class="vlt-visual">
        <div class="vlt-icon">
        </div>
        <div class="vlt-type">
            File
        </div>
    </div>
    <div class="vlt-inner">
        <h4>{{name}}</h4>

        <div class="vlt-attrs">
            <table class="table table-bordered">
                <colgroup>
                    <col class="col-lg-1">
                    <col class="col-lg-7">
                </colgroup>
                <tbody>
                    {{#if url}}
                    <tr>
                        <td class="vlt-attr-name">
                            URL
                        </td>
                        <td>{{url}}</td>
                    </tr>
                    {{/if}}

                    {{#if username}}
                    <tr>
                        <td class="vlt-attr-name">
                            Username
                        </td>
                        <td>{{username}}</td>
                    </tr>
                    {{/if}}

                    {{#if password}}
                    <tr>
                        <td class="vlt-attr-name">
                            Password
                        </td>
                        <td>{{password}}</td>
                    </tr>
                    {{/if}}

                    {{#if file}}
                    <tr>
                        <td class="vlt-attr-name">
                            File
                        </td>
                        <td>{{file}}</td>
                    </tr>
                    {{/if}}

                    {{#if note}}
                    <tr>
                        <td class="vlt-attr-name">
                            Note
                        </td>
                        <td>{{note}}</td>
                    </tr>
                    {{/if}}

                </tbody>
            </table>
        </div>

        {{view Vaultier.SecretIndexItemControlsView }}

    </div>
</div>