<div class="vlt-page-nav">

    {{#exp  "( workspace.perms.invite || card.perms.create || card.perms.update || card.perms.delete)"}}

        <div class="vlt-page-toolbar pull-right">
            <div>

                {{#exp  "( card.perms.update || card.perms.delete)"}}
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-cog"></span>
                        </button>
                        <ul class="dropdown-menu caret-left">
                            {{#if card.perms.update}}

                                <li>
                                    {{#link-to "Card.edit" card.slug}}
                                        Edit card
                                    {{/link-to}}
                                </li>

                                <li>
                                    {{#link-to "Card.move" card.slug}}
                                        Move card to another vault
                                    {{/link-to}}
                                </li>

                            {{/if}}
                            {{#if card.perms.update}}

                                <li>
                                    <a href="#" {{action deleteCard card }} >Delete card</a>
                                </li>
                            {{/if}}
                        </ul>
                    </div>
                {{/exp}}

                {{#if card.perms.invite}}
                    <div
                            class="vlt-button-wrapper"
                            data-toggle="tooltip"
                            title=
                                    "
                             Invite new team members to collaborate over this card
                             or  grant access permission to current team members
                             "
                            data-placement="bottom"
                            >
                        {{#link-to "Card.memberIndex" card class="btn btn-default"}}
                            <span class="glyphicon glyphicon-user"></span>
                            Collaborate
                        {{/link-to}}
                    </div>
                {{/if}}

                {{#if card.perms.create}}
                    {{#if workspace.hasValidKey}}
                        <div
                                class="vlt-button-wrapper"
                                data-toggle="tooltip"
                                title=
                                        "
                                         Create one or more secrets on this card.
                                         Secrets are secured by encryption and accessible only to you and your team.
                                         Secret could be password, note, credit card number or key file
                                         "
                                data-placement="bottom"
                                >
                            {{#link-to "Secret.createSelect" class="btn btn-primary"}}
                                <span class="glyphicon glyphicon-plus"></span>
                                Create new secret
                            {{/link-to}}
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        </div>

    {{/exp}}

    <div class="pull-left">
        <h2>Secrets on card "{{card.name}}"</h2>
    </div>


    <div class="clearfix"></div>

</div>

<div class="row">
    <div class="col-md-12">

        <div class="vlt-card-detail">

            {{#if workspace.keyError}}
                <div class="alert alert-danger top-15">
                    <b>Workspace key error. <br/></b>
                    Your workspace key cannot be decoded. It means you have no access to workspace secret data
                </div>
            {{/if}}


            {{#if workspace.hasValidKey}}

                {{#if length}}
                    {{#each}}
                        {{#if isNote }}
                            {{view Vaultier.SecretIndexItemNoteView class="vlt-secret vlt-note"}}
                        {{/if}}

                        {{#if isPassword  }}
                            {{view Vaultier.SecretIndexItemPasswordView class="vlt-secret vlt-password"}}
                        {{/if}}

                        {{#if isFile  }}
                            {{view Vaultier.SecretIndexItemFileView class="vlt-secret vlt-file"}}
                        {{/if}}
                    {{/each}}

                {{else}}

                    <div class="jumbotron vlt-bigbox vlt-secret col-md-8 col-md-offset-2">
                        <div class="vlt-header">
                            <div class="vlt-icon">

                            </div>
                            <div class="vlt-title">
                                <h1>You do not have any secret yet</h1>
                            </div>
                        </div>

                        {{#if card.perms.create }}

                            <p>
                                This card is empty.
                                Please create one or more secrets on this card.
                                Secret are secured by encryption and accessible only to you and your team.
                                Secret could be password, note, credit card number or key file
                            </p>

                            <p class="top-30">
                                {{#link-to "Secret.createSelect" class="btn btn-lg btn-primary" }}
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Create new secret
                                {{/link-to}}
                            </p>

                        {{/if}}

                    </div>



                {{/if}}

            {{else}}

                <div class="jumbotron vlt-bigbox vlt-secret col-md-8 col-md-offset-2">
                    <div class="vlt-header">
                        <div class="vlt-icon">

                        </div>
                        <div class="vlt-title">
                            <h1>Secrets are hidden</h1>
                        </div>
                    </div>

                    <p>
                        <b>Workspace key has not been transfered to you yet.</b>
                        Secrets will be accessible once you receive workspace key.
                        Key will be transfered to you automatically
                        once some workspace team member will go online.
                    </p>

                </div>
            {{/if}}

        </div>

    </div>
</div>

