<div class="row">
    <div class="col-md-12">

        <div class="modal-dialog vlt-tabs-modal">
            <form>
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Create new card</h2>
                    </div>
                    <div class="modal-body">

                        <div class="col-md-8 col-md-offset-2">

                            <div class="form-group" {{bindAttr class='errors.name:has-error'}}>
                                <label for="card-name">Name</label>
                                {{errors.name}}
                                {{view Em.TextField elementId='card-name' valueBinding='content.name' class="form-control"}}
                            </div>

                            <div class="form-group">
                                <label for="card-description">Description</label>
                                {{errors.description}}
                                {{view Em.TextArea elementId='card-description' valueBinding='content.description' class="form-control" rows=5}}
                            </div>
                        </div>

                        <div class="clearfix"></div>

                    </div>
                    <div class="modal-footer">
                        <a href="javascript:window.history.go(-1)" class="btn btn-default btn-sm">
                            Back
                        </a>
                        <button {{ action save}} class="btn btn-primary">
                            Create new card
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

