<div class="vlt-page-nav">

    {{#exp  "( workspace.perms.invite || card.perms.create || card.perms.update || card.perms.delete)"}}

        <div class="vlt-page-toolbar pull-right">
            <div>

                {{#exp  "( card.perms.update || card.perms.delete)"}}
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-cog"></span>
                        </button>
                        <ul class="dropdown-menu caret-left">
                            {{#if card.perms.update}}

                                <li>
                                    {{#link-to "Card.edit" card.slug}}
                                        Edit card
                                    {{/link-to}}
                                </li>

                                <li>
                                    {{#link-to "Card.move" card.slug}}
                                        Move card
                                    {{/link-to}}
                                </li>

                            {{/if}}
                            {{#if card.perms.update}}

                                <li>
                                    <a href="#" {{action deleteCard card }} >Delete card</a>
                                </li>
                            {{/if}}
                        </ul>
                    </div>
                {{/exp}}

                {{#if card.perms.invite}}

                    {{#link-to "Card.memberIndex" card class="btn btn-default"}}
                        <span class="glyphicon glyphicon-user"></span>
                        Collaborate
                    {{/link-to}}
                {{/if}}

                {{#if card.perms.create}}
                    {{#if length}}
                        {{#link-to "Secret.createSelect" class="btn btn-primary"}}
                            <span class="glyphicon glyphicon-plus"></span>
                            Create new secret
                        {{/link-to}}
                    {{/if}}
                {{/if}}
            </div>
        </div>

    {{/exp}}

    <div class="pull-left">
        <h2>Secrets on card</h2>
    </div>


    <div class="clearfix"></div>

</div>

<div class="row">
    <div class="col-md-12">

        <div class="vlt-card-detail">


            {{#if length}}
                {{#each}}
                    {{#if isNote }}
                        {{view Vaultier.SecretIndexItemNoteView class="vlt-secret vlt-note"}}
                    {{/if}}

                    {{#if isPassword  }}
                        {{view Vaultier.SecretIndexItemPasswordView class="vlt-secret vlt-password"}}
                    {{/if}}

                    {{#if isFile  }}
                        {{view Vaultier.SecretIndexItemFileView class="vlt-secret vlt-file"}}
                    {{/if}}
                {{/each}}

            {{else}}

                {{#if workspace.isApproved}}

                    <div class="jumbotron vlt-empty vlt-secret col-md-8 col-md-offset-2">
                        <div class="vlt-header">
                            <div class="vlt-icon">

                            </div>
                            <div class="vlt-title">
                                <h1>You do not have any secret yet</h1>
                            </div>
                        </div>

                        {{#if card.perms.create }}

                            <p>
                                What are secrets for? Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>

                            <p class="top-30">
                                {{#link-to "Secret.createSelect" class="btn btn-lg btn-primary" }}
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Create new secret
                                {{/link-to}}
                            </p>

                        {{/if}}

                    </div>

                {{else}}

                    <div class="jumbotron vlt-empty vlt-secret col-md-8 col-md-offset-2">
                        <div class="vlt-header">
                            <div class="vlt-icon">

                            </div>
                            <div class="vlt-title">
                                <h1>Your access to workspace not approved</h1>
                            </div>
                        </div>

                        <p>
                            Until you will get approved, you cannot see secret workspace data
                        </p>

                    </div>

                {{/if}}

            {{/if}}

        </div>

    </div>
</div>

