{{#if view.keys}}

    <p>
        Your public and private keypair has been generated.
        Please follow steps to finish procedure
    </p>


    <div class="bottom-15 top-30">
        <h4>
            <div class="label label-header">1</div>
            Save private key key to your computer
        </h4>
    </div>

    <div class="top-15 padding-15 panel panel-default">

        <div class="col-md-5 col-md-offset-1">
            <b>
                Your private key
            </b>
            <br/>
                <span class="help-block">
                    Used instead of password. Please save the key.
                </span>
        </div>
        <div class="col-md-4">
            <button
                {{ action savePrivateKey target=view }}
                {{bind-attr class=":btn view.privateKeySaved:btn-default:btn-primary"}}
                    >
                Save private key
            </button>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="bottom-15  top-30">
        <h4>
            <div class="label label-header">2</div>
            Send your public key to server
        </h4>
    </div>

    <div class="top-15 padding-15 panel panel-default">

        <div class="col-md-5 col-md-offset-1">
            <b>
                Your public key
            </b>
            <br/>
                <span class="help-block">
                    Will be sent to server and cyphers is going to be rebuilt
                </span>
        </div>
        <div class="col-md-4">
            <button
                {{bind-attr disabled=view.publicButtonDisabled}}
                {{bind-attr class=":btn view.privateKeySaved:btn-primary:btn-default"}}
                {{ action savePublicKey target=view }}
                    class="btn btn-default">
                Submit public key
            </button>
        </div>
        <div class="clearfix"></div>
    </div>



{{else}}
    <div class=" text-center top-30">
        <h4>Please wait while generating your keys...</h4>

        <div class="vlt-preloader vlt-preloader-small">
        </div>
    </div>
{{/if}}