<div class="vlt-vault-item pull-left">
    {{#link-to 'Vault.index' this }}
        <div class="vlt-visual">
        </div>
        <div class="vlt-content">
            <div class="vlt-header">
                <h4>{{dot-dot-dot value=name height=60}}</h4>

                <!--
                <div class="vlt-icon">
                    <img src="/static/icons/vault/ACROBITS.png">
                </div>
                -->
            </div>
            <div class="vlt-description">
                {{#if description}}
                    {{dot-dot-dot value=description height=80}}
                {{else}}
                    No description given
                {{/if}}
            </div>
            <div class="vlt-footer">
                {{printUser created_by  ellipsis=12 prefix='Created by:'}}
                {{printAgo updated_at prefix='Last modified at:' }}
            </div>
        </div>
    {{/link-to}}
</div>

