<div class="vlt-vault-item vlt-border-{{unbound color}} pull-left">
    {{#link-to 'Vault.index' this class='vlt-vault-item-href'}}
        <div class="vlt-vault-item-header vlt-background-{{unbound color}}">
            <div class="vlt-vault-item-header-icon"></div>
            <h2>{{dot-dot-dot value=name height=48}}</h2>
        </div>
        <div class="vlt-vault-item-content vlt-font-{{unbound color}}">
            {{#if description}}
                {{dot-dot-dot value=description height=80}}
            {{else}}
                No description given
            {{/if}}
        </div>
        <div class="vlt-vault-item-footer">
            <div class="vlt-vault-item-footer-user">
                {{printUser created_by  ellipsis=20 prefix='Created by:' container='vlt-vault-index'}}
            </div>
            <div class="vlt-vault-item-footer-time">
                {{printAgo updated_at prefix='Last modified at:' }}
            </div>
        </div>
    {{/link-to}}
</div>
