<h4>Title</h4>
<hr class="top-0"/>

<div class="form-group" {{bind-attr class='errors.name:has-error'}}>
    {{view Em.TextField elementId='document-name' valueBinding='content.name' class="form-control"}}
    <span class="error">{{errors.name}}</span>
</div>
<div class="help-block">
    Informational field. Do not enter any sensitive information. This field is not encrypted!
</div>

<h4 class="top-30">Please fill-in data for your password document</h4>
<hr class="top-0"/>

<div class="form-group" {{bind-attr class='errors.url:has-error'}}>
    <label for="document-url">URL</label>
    {{errors.url}}
    {{input valueBinding=content.content.url class='form-control'}}
</div>

<div class="form-group" {{bind-attr class='errors.username:has-error'}}>
    <label for="document-username">Username</label>
    {{errors.username}}
    {{input valueBinding=content.content.username class='form-control'}}
</div>

<div class="form-group" {{bind-attr class='errors.password:has-error'}}>
    <label for="document-password">Password</label>
    {{errors.password}}
    {{password-field elementId='document-password-component' inputId='document-password' value=content.content.password}}
</div>

<div class="form-group" {{bind-attr class='errors.note:has-error'}}>
    <label for="document-note">Note</label>
    {{errors.note}}
    {{textarea value=content.content.note rows="5" class="form-control" }}
</div>
<div class="help-block">
    Markdown is available. Markdown manual can be found<a
        href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"
        target="_blank">
    here
</a>
</div>
