<h4>Title</h4>
<hr class="top-0"/>

<div class="form-group" {{bind-attr class='errors.name:has-error'}}>
    {{view Em.TextField elementId='secret-name' valueBinding='content.name' class="form-control"}}
    <span class="error">{{errors.name}}</span>
</div>
<div class="help-block">
    Informational field. Do not enter any sensitive information. This field is not encrypted!
</div>

<h4 class="top-30">Please fill-in data for your password secret</h4>
<hr class="top-0"/>

<div class="form-group" {{bind-attr class='errors.url:has-error'}}>
    <label for="secret-url">URL</label>
    {{errors.url}}
    {{view Em.TextField elementId='secret-url' valueBinding='content.url' class="form-control"}}
</div>

<div class="form-group" {{bind-attr class='errors.username:has-error'}}>
    <label for="secret-username">Username</label>
    {{errors.username}}
    {{view Em.TextField elementId='secret-username' valueBinding='content.username' class="form-control"}}
</div>

<div class="form-group" {{bind-attr class='errors.password:has-error'}}>
    <label for="secret-password">Password</label>
    {{errors.password}}
    {{password-field elementId='secret-password-component' inputId='secret-password' value=content.password}}
</div>

<div class="form-group" {{bind-attr class='errors.note:has-error'}}>
    <label for="secret-note">Note</label>
    {{errors.note}}
    {{view Em.TextArea elementId='secret-note' valueBinding='content.note' class="form-control" rows=5}}
</div>
<div class="help-block">
    Markdown is available. Markdown manual can be found<a
        href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"
        target="_blank">
    here
</a>
</div>

