<div class="container">
    <div class="vlt-page vlt-page-plain">


<div class="vlt-dialog vlt-register col-xs-12 col-md-10 col-md-offset-1 top-50">
    <div class="vlt-dialog-content">
        <div class="vlt-dialog-header">
            <h2>Register to Vaultier</h2>

            <ul class="nav nav-pills nav-justified vlt-wizard-steps">
                {{#view view.TabView tab="keys" }}
                    <a>
                        Generate keys
                        <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                    </a>
                {{/view}}

                {{#view view.TabView tab="creds" }}
                    <a>
                        Your credentials
                        <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                    </a>
                {{/view}}

                {{#view view.TabView tab="sum" }}
                    <a>
                        Finish registration
                        <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                    </a>
                {{/view}}

            </ul>
        </div>

        <div class="vlt-dialog-body">
            {{outlet AuthRegister}}
        </div>

        <div class="vlt-dialog-footer">

            <div class="pull-right vlt-right-buttons">
                <button {{action next}} {{bind-attr disabled=props.nextButtonDisabled}} class="btn btn-primary">
                    <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                    {{#if props.nextButtonTitle }}
                        {{ props.nextButtonTitle }}
                    {{else}}
                        Next
                    {{/if}}
                </button>
            </div>

            <div class="vlt-left-buttons pull-left">
                    {{#unless props.loginButtonHidden}}
                        Do you have account already?
                        {{#link-to 'AuthLogin' class="btn btn-default btn-sm" }}
                            Login to your account here
                        {{/link-to}}
                    {{/unless}}
            </div>

            <div class="clearfix"></div>

        </div>
    </div>
</div>


        <div class="clearfix"></div>
    </div>
</div>


