<div class="vlt-secret-item-base vlt-secret-item-note">
    <div class="vlt-left-panel vlt-background-{{unbound view.controller.parentController.vault.color}}">
        <div class="vlt-wrapper">
            <div class="vlt-icon"></div>
            <div class="vlt-type">
                Note
            </div>
        </div>
    </div>
    <div class="vlt-right-panel">
        {{#if name}}
            <h3 class="top-0">{{name}}</h3>
        {{/if}}

        {{#if decrypted}}
            <div class="vlt-attrs">
                <div class="vlt-markdown">
                    {{renderMarkdown note }}
                </div>
            </div>

            {{view Vaultier.SecretIndexItemControlsView class='vlt-secret-item-controls' }}
        {{else}}
            <div class="alert alert-warning top-15">
                Encrypted data cannot be decrypted
            </div>
        {{/if}}

    </div>
</div>