<div class="vlt-secret-item-base vlt-secret-item-password">
    <div class="vlt-left-panel vlt-background-{{unbound view.controller.parentController.vault.color}}">
        <div class="vlt-wrapper">
            <div class="vlt-icon"></div>
            <div class="vlt-type">
                Password
            </div>
        </div>
    </div>
    <div class="vlt-right-panel">
        {{#if name}}
            <h3 class="top-0">{{name}}</h3>
        {{/if}}

        {{#if decrypted}}
            <div class="vlt-attrs">
                <table class="table table-bordered">
                    <colgroup>
                        <col class="col-lg-1">
                        <col class="col-lg-7">
                    </colgroup>
                    <tbody>
                    {{#if url}}
                        <tr>
                            <td class="vlt-attr-name">
                                URL
                            </td>
                            <td><a {{bind-attr href=url}} target="_blank">{{url}}</a></td>
                        </tr>
                    {{/if}}

                    {{#if username}}
                        <tr>
                            <td class="vlt-attr-name">
                                Username
                            </td>
                            <td>{{username}}</td>
                        </tr>
                    {{/if}}

                    {{#if password}}
                        <tr>
                            <td class="vlt-attr-name">
                                Password
                            </td>
                            <td>{{password}}</td>
                        </tr>
                    {{/if}}

                    {{#if note}}
                        <tr>
                            <td class="vlt-attr-name">
                                Note
                            </td>
                            <td>
                                <div class="vlt-markdown">
                                    {{renderMarkdown note }}
                                </div>
                            </td>
                        </tr>
                    {{/if}}

                    </tbody>
                </table>
            </div>
        {{else}}
            <div class="alert alert-warning top-15">
                Encrypted data cannot be decrypted
            </div>
        {{/if}}


        {{view Vaultier.SecretIndexItemControlsView class='vlt-secret-item-controls' }}

    </div>
</div>