<div class="col-md-9 vlt-document-detail">

    <h1>
        <img {{bind-attr src="view.typeCss"}}>
        {{content.name}}
    </h1>

    <div class="vlt-author col-md-9 pull-right">
        <div class="vlt-footer-item help-block">

        </div>
    </div>


    <table class="table table-bordered">
        <colgroup>
            <col class="col-lg-2">
            <col class="col-lg-7">
        </colgroup>
        <tbody>
        {{outlet center}}
        </tbody>
    </table>

</div>

<div class="col-md-3 vlt-col vlt-sidebar">
    <div class="vlt-page-sidebar">
        <div class="vlt-sidebar-block">
            <div class="vlt-sidebar-block-part">
                <div class="vlt-header">
                    <img src="/static/vaultier/images/icon-clock.png" class="vlt-icon">

                    <h3 class="vlt-title">Last edited by</h3>
                </div>
                <div class="vlt-body">
                    <div class="vlt-history-user">
                        <div class="vlt-history-user-image">
                            <img style="width:40px; height:40px;" class="vlt-avatar"
                                 src="http://www.gravatar.com/avatar/c93ff91b31d2e8cf7bced46ef4393023?s=25&amp;d=mm">
                        </div>
                        <div class="vlt-history-user-name">
                            Jakub Randák <br>
                            (last update {{printAgo updated_at}})
                        </div>
                    </div>
                </div>

            </div>
            <div class="vlt-sidebar-block-part">
                <div class="vlt-header">
                    <img src="/static/vaultier/images/icon-team-grey.png" class="vlt-icon">

                    <h3 class="vlt-title">Sharing</h3>
                </div>
                <div class="vlt-body">
                    {{roles-admin-box user=auth.user roles=view.parentView.roles user=auth.user currentNode=view.parentView.currentDocument}}
                </div>
                <div class="vlt-controls">
                    <div>

                        {{#if view.parentView.currentDocument.perms.invite}}
                            <div
                                    class="vlt-button-wrapper"
                                    data-toggle="tooltip"
                                    title=
                                            "
                                 Invite new team members to collaborate on this workspace
                                 or grant access permissions to existing team members
                                 "
                                    data-placement="bottom"
                                    >
                                {{#link-to "Document.rolesAdminInvite" class="btn btn-default"}}
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Invite
                                {{/link-to}}
                            </div>
                        {{/if}}

                        {{#if view.parentView.currentDocument.perms.invite}}
                            <div
                                    class="vlt-button-wrapper"
                                    data-toggle="tooltip"
                                    title=
                                            "
                                 Invite new team members to collaborate on this workspace
                                 or grant access permissions to existing team members
                                 "
                                    data-placement="bottom"
                                    >
                                {{#link-to "Document.rolesAdminIndex" class="btn btn-default"}}
                                    <span class="glyphicon glyphicon-user"></span>
                                    Team
                                {{/link-to}}
                            </div>
                        {{/if}}

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>