<div class="vlt-page-nav">

    {{#exp  "( workspace.perms.invite || vault.perms.create || vault.perms.update || vault.perms.delete)"}}
        <div class="vlt-page-toolbar pull-right">
            <div>

                {{#exp  "( vault.perms.update || vault.perms.delete)"}}
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-cog"></span>
                        </button>
                        <ul class="dropdown-menu caret-left">

                            {{#if vault.perms.update}}
                                <li>
                                    {{#link-to "Vault.edit" vault.slug}}
                                        Edit vault
                                    {{/link-to}}
                                </li>
                            {{/if}}

                            {{#if vault.perms.delete}}
                                <li>
                                    <a href="#" {{action deleteVault vault}}>Delete vault</a>
                                </li>
                            {{/if}}

                        </ul>
                    </div>
                {{/exp}}

                {{#if vault.perms.invite}}
                    <div
                            class="vlt-button-wrapper"
                            data-toggle="tooltip"
                            title=
                                    "
                             Invite new team members to collaborate over this vault
                             or  grant access permission to current team members
                             "
                            data-placement="bottom"
                            >
                        {{#link-to "Vault.memberIndex" vault class="btn btn-default"}}
                            <span class="glyphicon glyphicon-user"></span>
                            Collaborate
                        {{/link-to}}
                    </div>
                {{/if}}

                {{#if vault.perms.create}}
                    <div
                            class="vlt-button-wrapper"
                            data-toggle="tooltip"
                            title=
                                    "
                                    Card is analogy to sheet in folder. Card lets you organize your secrets into groups.
                                    You can also collaborate with team over a card.
                                    "
                            data-placement="bottom"
                            >
                        {{#link-to "Cards.create" class="btn btn-primary"}}
                            <span class="glyphicon glyphicon-plus"></span>
                            Create new Card
                        {{/link-to}}
                    </div>
                {{/if}}

            </div>
        </div>
    {{/exp}}

    <div class="pull-left">
        <h2>Cards in vault "{{vault.name}}"</h2>
    </div>

    <div class="clearfix"></div>

</div>

<div class="row">
    <div class="col-md-12">

        {{view Vaultier.WorkspacesIndexWithoutKeysView workspace=workspace }}

        {{#if length}}

            {{#each}}
                {{view Vaultier.CardsIndexItemView}}
            {{/each}}
        {{else}}

            <div class="jumbotron vlt-empty vlt-card col-md-8 col-md-offset-2">

                <div class="vlt-header">
                    <div class="vlt-icon">

                    </div>
                    <div class="vlt-title">
                        <h1>You do not have any card yet</h1>
                    </div>
                </div>

                {{#if vault.perms.create }}
                    <p>
                        Card is analogy to sheet in folder. Card lets you organize your secrets into groups.
                        You can also collaborate with team over a card.
                    </p>

                    <p class="top-30">
                        {{#link-to "Cards.create" class="btn btn-lg btn-primary" }}
                            <span class="glyphicon glyphicon-plus"></span>
                            Create new Card
                        {{/link-to}}
                    </p>
                {{/if}}
            </div>
        {{/if}}

    </div>
</div>