<div class="vlt-register-creds">

    <div class="col-md-8 col-md-offset-2">
        <div>
            <h4>Please submit your credentials</h4>

            <p>
                Please provide us with your credentials. Email will be used for logging in and delivering notifications to you.
                Your nickname is used instead of your full name, so you can be recognized by other users of Vaultier.
            </p>
        </div>

        <div class="bottom-30">
            <form class="form-horizontal" role="form">

                <div {{bind-attr class='content.errors.email:has-error'}}>
                    <label for="register-form-email" class="control-label">Email *</label>

                    <div>
                        {{ view Ember.TextField
                        elementId='register-form-email'
                        valueBinding='content.email'
                        class="form-control"
                        placeholder="Please enter valid email address"
                        }}
                        <span class="error">
                            {{content.errors.email}}
                        </span>
                    </div>
                </div>

                <div  {{bind-attr class='content.errors.nickname:has-error'}}>
                    <label for="register-form-nickname" class="control-label">Your nickname *</label>

                    <div>
                        {{ view Ember.TextField
                        elementId='register-form-nickname'
                        valueBinding='content.nickname'
                        class="form-control"
                        placeholder="Please enter your nickname"
                        }}
                        <span class="error">
                            {{content.errors.nickname}}
                        </span>
                    </div>
                </div>

                <br/>

            </form>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
