<div class="row">
    <div class="col-md-12">

        <div class="modal-dialog vlt-tabs-modal vlt-register">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Register to Vaultier</h2>

                    <ul class="nav nav-pills vlt-register-tabs" id="myTab">
                        <li class="AuthRegisterBefore">
                            <a>
                                Before you register
                                <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </li>

                        <li class="AuthRegisterKeys">
                            <a>
                                Generate your keys
                                <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </li>


                        <li class="AuthRegisterCreds">
                            <a>
                                Your credentials
                                <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </li>

                        <li class="AuthRegisterSum">
                            <a>
                                Finish registration
                                <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </li>


                    </ul>
                </div>
                <div class="modal-body">

                    <div class="tab-content">
                        <div class="tab-pane active" id="login-latest">

                            <div class="row">
                                {{outlet tab}}
                            </div>
                        </div>
                        <div class="tab-pane" id="login-switch">

                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    {{#unless props.loginButtonHidden}}
                        Do you have account already? {{#link-to 'AuthLogin' class="btn btn-default btn-sm" }}Login to
                        your
                        account here{{/link-to}}
                    {{/unless}}
                    <button {{action next}} {{bind-attr disabled=props.nextButtonDisabled}} class="btn btn-primary">
                        <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                        {{#if props.nextButtonTitle }}
                            {{ props.nextButtonTitle }}
                        {{else}}
                            Next
                        {{/if}}
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>



