<div class="vlt-dialog col-md-8 col-md-offset-2 top-50">
    <form>
        <div class="vlt-dialog-content">
            <div class="vlt-dialog-header">
                <h2>Invite collaborators</h2>
            </div>
            <div class="vlt-dialog-body">

                <div class="col-md-10 col-md-offset-1">

                    <div class="form-group">
                        <label for="invite-form-invited">Select users</label>

                        {{view Vaultier.MemberInviteInput
                        store=store
                        workspace=workspace
                        auth=auth
                        class="form-control"
                        elementId="invite-form-invited"
                        valueBinding="invited"
                        }}
                        <span class="help-block"><b>Select existing users or invite new by email</b>. You can invite more users at once. Seperate them with space, comma or semicolon</span>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label for="invite-form-resend">
                                {{input
                                type=checkbox
                                elementId='invite-form-resend'
                                checkedBinding="resend"
                                }}
                                Resend invitation to already invited user
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="invite-form-role">Permissions</label>
                        {{view view.Select
                        role=role
                        class="form-control"
                        elementId="invite-form-role"
                        contentBinding="roleLevels"
                        optionValuePath="content.value"
                        optionLabelPath="content.text"
                        }}

                    </div>

                </div>

                <div class="clearfix"></div>

            </div>
            <div class="vlt-dialog-footer">
                <a href="javascript:window.history.go(-1)" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    Back
                </a>
                <button {{bind-attr disabled=isSubmitDisabled }} {{ action save invited role resend}}
                        class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok"></span>
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>

