{{#link-to 'Workspace.index' this.slug class="list-group-item vlt-workspace-item"}}
    <div class="vlt-icon">
        <img src="/static/images/icon-workspace-grey.png"/>
    </div>
    <div class="vlt-text">
        <h4 class="list-group-item-heading">{{name}}</h4>

    <p class="list-group-item-text">
        {{description}}
        </p>

        <div class="help-block top-15">
            By {{printUser created_by}} updated at {{printAgo updated_at }}
        </div>

        {{view Vaultier.WorkspacesIndexWithoutKeysView workspace=this }}

    </div>

{{/link-to}}



